<html>
<head>
    <title>IdentityServerPlus</title>
    <link href="~/css/base_ov.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="logo">
        <img src="~/images/logo-light.svg"/>
    </div>
    <div class="centeredbox">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>