@model ExternalProvider
<li>
    <a asp-controller="External"
       asp-action="Challenge"
       asp-route-provider="@Model.AuthenticationScheme">
        <img src="~/img/common.svg" alt="Microsoft" />
    </a>
</li>